header {
    
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #23324f;
    color: #f5272e;  
 
}

li:hover {     
    color: #f5272e;  
    font-size: 180%;
}
 
li {
    text-align: center;
    margin-left: 20px;  
}   

/* Removes link default settings*/

li {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;   
}

/* Cursor behavior for links */

li:active {
    font-size: 250%;
    color: #fff
}
h1 {
    font-size: 50px;
    text-align: left;
    color: #f5272e;  
}
@media screen and (max-width: 992px) {
    
/* Change the header color */

    header {
      padding: 15px;
      text-align: center;  
      background:  #562E52;
     
    }
}
@media screen and (max-width: 600px) {
    h1 {
    text-align: center;  
    font-size: 40px;  
    }  
    header, nav {
 
     text-align: center;
    }

 /* Change the header color */
 
    header {
      background: #5381af;
     
    }
} 