
a {
  cursor: pointer;
}
.projectImg {
  height: 300px;
  border: 10px solid #383333;  
  border-radius: 10px;
  padding: 0px;
}
.assgnImg {
  height: 300px;
  border: 10px solid #383333;  
  border-radius: 10px;
   padding: 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown {
   border: 10px solid #383333;  
  border-radius: 10px;
  top: 4%;
  font-size: 25px;    
  z-index: 1;
  padding: 0px;
}

/* Contact Info */

#contacts {
  line-height: 1.5;
  color:#162033 ;
  font-size: 24px;
  padding: 30px;
  border-bottom: 5px solid #fff;
  text-align: center;
}  


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 
  font-size: 25px;    
  color: #f5272e;  
  position: absolute;
  text-align:center;
  display: none;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.select {

  color: #f5272e; 
  width: 100%; 
  background-color: #d7dbe2;
  text-decoration: none;
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



/* Change color of dropdown links on hover */

  .dropdown:active {
    background-color: rgb(122, 121, 121);

  }
  
/* Links inside the dropdown */

.projectTitle, .assgnTitle{
 
  display: block;
  padding: 10px;
  padding-left: 15px !important;
  background-color: #162033;
  color: #fff;
}


/* Show the dropdown menu on hover */
.project:hover .dropdown-content {
  display: block;
}

