main {
 
  background-color:#162033 ;
  background-size: cover;
}

/* Section headers */

h2 {
  display: flex;
  justify-content: center;
  color:#f5272e;
  font-size: 40px;
  padding: 20px;  
 
}    

/* About ME*/

#about-me {
  line-height: 1.5;
  color:#ffffff;
  font-size: 24px;
  padding: 0px 40px;
  border-bottom: 5px solid #fff;
}

/*Projects*/

#projects {

  border-bottom: 5px solid #fff;   
  
}
#container {
  padding: 30px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;  
  align-content: center;
} 
@media screen and (max-width: 600px) {
  p {
    font-size: 15px;
  }
}