/* background image and positioning*/  

#hero {
 
  margin: 0 0 0 0;
  background-size: cover;
  background-position: center;
 
}

/* My photo */

#me { 
  margin-left: 150px !important;
  opacity: 1 !important;
  background-color:#fff;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px 15px 90px 15px; 
  transform: rotate(-8deg);
}

.three {
  transform: rotateZ(-25deg);
  animation: three 10s infinite;
  animation-direction: alternate;
  background-color: #439772;
}


@keyframes three {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-25deg);
  }
}


/* Greetig */

#greeting {
  font-weight: 550;
  margin: auto;
  color:#162033;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (max-width: 992px) {
  #me { 
    width: 60%;
    margin-left: 100px !important;
    opacity: 1 !important;
    background-color:#fff;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 15px 90px 15px; 
    transform: rotate(-8deg);
  }
}
@media screen and (max-width: 500px) {
  #me { 
    width: 70%;
    margin-left: 50px !important;
    opacity: 1 !important;
    background-color:#fff;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 15px 90px 15px; 
    transform: rotate(-8deg);
  }
  .three {
    transform: rotateZ(-25deg);
    animation: three 10s infinite;
    animation-direction: alternate;
    background-color: #439772;
  }
  
  
  @keyframes three {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(-25deg);
    }
  }


  

}