/* background image and positioning*/  

#hero {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 0 0;
  background-size: cover;
  background-position: center;
  align-items: center;    
}

/* My photo */

#me { 
  width : 300px;
  opacity: 1 !important;
  background-color:#fff;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px 15px 90px 15px; 
  transform: rotate(-8deg);
}

.three {
  transform: rotateZ(-25deg);
  animation: three 10s infinite;
  animation-direction: alternate;
  background-color: #439772;
}


@keyframes three {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-25deg);
  }
}


/* Greetig */

#greeting {

  text-align: center;
  color:#162033;
  padding-bottom: 80px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}